<!-- Contact -->
<div id="contact" class="form-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Contact Information</h2>
        <ul class="list-unstyled li-space-lg">
          <li class="address">
            Don't hesitate to give us a call or send us a  message
          </li>
     
        </ul>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="map-responsive">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d389.6490568653407!2d76.97960098975823!3d8.537511289269968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05b991a57f647b%3A0xcf855bee4d9da28!2sManikanteswaram%2C%20Thiruvananthapuram%2C%20Kerala!5e0!3m2!1sen!2sin!4v1692544255275!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <!-- end of col -->
      <div class="col-lg-6 ">
        <!-- Contact Form -->
        <div class="contactList">
          <div class="my-3">
            <i class="fas fa-map-marker-alt px-3"></i>
            <span>CRWA-27A,Manikandeshwaram PO, TVM</span>
          </div>
          <div class="my-3">
            <i class="fas fa-phone px-3"></i
            ><a class="turquoise" href="tel:+91 8606704518">+91 8606704518 </a>
          </div>
          <div class="my-3">
            <i class="fas fa-mobile px-3"></i
            ><a class="turquoise" href="tel:+91 9072388495">+91 9072388495 </a>
          </div>
          <div class="my-3">
            <i class="fas fa-envelope px-3"></i
            ><a class="turquoise" href="mailto:office@evolo.com"
              >sastha495@gmail.com</a
            >
          </div>
        </div>

        <!-- end of contact form -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of form-2 -->
<!-- end of contact -->
