<!-- Contact -->
<div id="contact" class="form-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Contact Information</h2>
        <ul class="list-unstyled li-space-lg">
          <li class="address">
            Don't hesitate to give us a call or send us a  message
          </li>
     
        </ul>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3945.5921376431993!2d76.98058197501315!3d8.538916891504213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zOMKwMzInMjAuMSJOIDc2wrA1OCc1OS40IkU!5e0!3m2!1sen!2sin!4v1695020674655!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
      </div>
      <!-- end of col -->
      <div class="col-lg-6 center-content">
        <!-- Contact Form -->
        <div class="contactList">
          <div class="my-2">
            <i class="fas fa-map-marker-alt px-3"></i>
            <span>CRWA-27A,Manikandeshwaram PO, TVM</span>
          </div>
          <div class="my-2">
            <i class="fas fa-phone px-3"></i
            ><a class="turquoise" href="tel:+91 8606704518">+91 8606704518 </a>
          </div>
          <div class="my-2">
            <i class="fas fa-mobile px-3"></i
            ><a class="turquoise" href="tel:+91 9072388495">+91 9072388495 </a>
          </div>
          <div class="my-2">
            <i class="fas fa-envelope px-3"></i
            ><a class="turquoise" href="mailto:office@evolo.com"
              >contact@sasthasecurity.in</a
            >
          </div>
          <div class="my-3"><h6 class="text-center">Branches</h6></div>
          <div class="my-2">
            <i class="fas fa-map-marker-alt px-3"></i
            ><a class="turquoise" href="tel:+918075766217"
              >Trivandrum  -  Muralidharan K - +918075766217</a
            >
          </div>
          <div class="my-2">
            <i class="fas fa-map-marker-alt px-3"></i
            ><a class="turquoise" href="tel:+918075766217"
              >Kollam  -  Sivakumar - +919400718883</a
            >
          </div>
          <div class="my-2">
            <i class="fas fa-map-marker-alt px-3"></i
            ><a class="turquoise" href="tel:+918075766217"
              >Nagarcoil  -  C. Selvaraj - +918270956163</a
            >
          </div>
        </div>

        <!-- end of contact form -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of form-2 -->
<!-- end of contact -->
