<!-- Testimonials -->
<div class="slider-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container">
          <img
            class="img-fluid"
            src="../assets/images/security3.png"
            alt="alternative"
          />
        </div>
        <!-- end of image-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-6">
        <h2>Testimonials</h2>

        <!-- Card Slider -->
        <div class="slider-container">
          <div class="card-slider">
            <!-- Slide -->
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of Slides">
                <ng-template carouselSlide [id]="slide.id">
                  <div class="swiper-slide">
                    <div class="card">
                      <img
                        class="card-image"
                        src="../assets/images/testimonial-1.svg"
                        alt="alternative"
                      />
                      <div class="card-body">
                        <p class="testimonial-text">
                          "{{slide.text}}"
                        </p>
                        <p class="testimonial-author">{{slide.author}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- end of swiper-slide -->
                </ng-template>
              </ng-container>
            </owl-carousel-o>

            <!-- end of slide -->
          </div>
          <!-- end of swiper-container -->
        </div>
        <!-- end of slider-container -->
        <!-- end of card slider -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of slider-2 -->
<!-- end of testimonials -->
