<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center py-5 ">Gallery</h2>
      </div>
      <div class="col-lg-12">
        <ul>
          <li>
            <a href="">
              <figure>
                <img src="assets/images/gal-1.jpeg" />
                <figcaption>1st Board Meeting dated 25th June 2024</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="">
              <figure>
                <img src="assets/images/gal-2.jpeg" />
                <figcaption>1st Board Meeting dated 25th June 2024</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="">
              <figure>
                <img src="assets/images/gal-3.jpeg" />
                <figcaption>1st Board Meeting dated 25th June 2024</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="">
              <figure>
                <img src="assets/images/gal-4.jpeg" />
                <figcaption>1st Board Meeting dated 25th June 2024</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="">
              <figure>
                <img src="assets/images/gal-1.jpeg" />
                <figcaption>1st Board Meeting dated 25th June 2024</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="">
              <figure>
                <img src="assets/images/gal-2.jpeg" />
                <figcaption>1st Board Meeting dated 25th June 2024</figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
