<div class="container text-center">
  <div class="row">
    <div class="col-lg-12">
      <h2>Gallery</h2>

    </div>
    <!-- end of col -->
  </div>
  <!-- end of row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="gallery">
        <div class="column">
          <figure>
            <img src="https://source.unsplash.com/random/800x600/?jungle" />
          </figure>
          <figure>
            <img src="https://source.unsplash.com/random/600x800/?mountain" />
          </figure>
    
          <figure>
            <img src="https://source.unsplash.com/random/600x800/?forest" />
          </figure>
        </div>
        <div class="column">
          <figure>
            <img
              src="https://source.unsplash.com/random/600x800/?iceland+ladscape"
            />
          </figure>
          <figure>
            <img src="https://source.unsplash.com/random/800x600/?river" />
          </figure>
          <figure>
            <img src="https://source.unsplash.com/random/600x800/?grass" />
          </figure>
          
        </div>
        <div class="column">
          <figure>
            <img src="https://source.unsplash.com/random/800x600/?borealis" />
          </figure>
          <figure>
            <img src="https://source.unsplash.com/random/600x800/?Lake" />
          </figure>
        
          <figure>
            <img src="https://source.unsplash.com/random/600x800/?marine" />
          </figure>
        </div>
       
      </div>
    </div>
  </div>
</div>
