<!-- Preloader -->
<div class="spinner-wrapper">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<!-- end of preloader -->

<!-- Header -->
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-container">
            <h1><span class="turquoise">Guarding Your Business</span></h1>
            <p class="p-large">
              Explore comprehensive security solutions designed to shield your
              business from potential risks and threats. Our expert team is
              committed to providing advanced security measures that ensure the
              safety of your premises, assets, and personnel.
            </p>
            <a class="btn-solid-lg page-scroll" href="#contact">LET'S TALK</a>
          </div>
          <!-- end of text-container -->
        </div>
        <!-- end of col -->
        <div class="col-lg-6">
          <div class="image-container">
            <img
              class="img-fluid"
              src="../../../assets/images/security1.png"
              alt="alternative"
            />
          </div>
          <!-- end of image-container -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of header-content -->
</header>
<!-- end of header -->
<!-- end of header -->

<app-partners></app-partners>

<section id="services">
  <app-services></app-services>
</section>

<app-testimonials></app-testimonials>


<section id="team">
  <app-team></app-team>
</section>


<!-- <section id="gallery">
  <app-gallery></app-gallery>
</section> -->


<section id="contact">
  <app-contact-section></app-contact-section>
</section>

<app-footer></app-footer>
