<!-- About -->
<div id="about" class="basic-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>About The Team</h2>
        <p class="p-heading p-large">
          Meet our accomplished team members, the guiding forces behind
          our mission. With a combined experience in military and 
          the security industry, they possess a profound understanding of the
          ever-evolving security landscape. 
        </p>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Team Member -->
        <div class="team-member">
          <div class="image-wrapper">
            <img
              class="img-fluid"
              src="assets/images/unc.png"
              alt="alternative"
            />
          </div>
          <!-- end of image-wrapper -->
          <p class="p-large">
            <strong>V Rajasekharan Nair <br />(ex-Army)</strong>
          </p>

          <p class="job-title">Managing Director</p>
        </div>
        <!-- end of team-member -->
        <!-- end of team member -->

        <!-- Team Member -->
        <div class="team-member">
          <div class="image-wrapper">
            <img
              class="img-fluid"
              src="assets/images/unni.png"
              alt="alternative"
            />
          </div>
          <!-- end of image-wrapper -->
          <p class="p-large"><strong>Unnikrishnan Nair </strong></p>

          <p class="job-title">Executive Director</p>
        </div>
        <!-- end of team-member -->
        <!-- end of team member -->
      </div></div>
      <div class="row">
        <div class="col-lg-12">
        <!-- Team Member -->
        <div class="team-member">
          <div class="image-wrapper">
            <img
              class="img-fluid"
              src="assets/images/muralio.png"
              alt="alternative"
            />
          </div>
          <!-- end of image wrapper -->
          <p class="p-large">
            <strong>K Muralidharan Nair <br> (rtd SI Railway)</strong>
          </p>
          <p class="job-title">Manager - Trivandrum Branch</p>
      
          <!-- end of social-icons -->
        </div>
        <!-- end of team-member -->
        <!-- end of team member -->

        <!-- Team Member -->
        <div class="team-member">
          <div class="image-wrapper">
            <img
              class="img-fluid"
              src="assets/images/shiv.png"
              alt="alternative"
            />
          </div>
          <!-- end of image wrapper -->
          <p class="p-large"><strong>Shivakumar <br />(ex-Army)</strong></p>
          <p class="job-title">Manager - Kollam</p>
      
          <!-- end of social-icons -->
        </div>
        <!-- end of team-member -->
        <!-- end of team member -->

        <!-- Team Member -->
        <div class="team-member">
          <div class="image-wrapper">
            <img
              class="img-fluid"
              src="assets/images/team-member-2.svg"
              alt="alternative"
            />
          </div>
          <!-- end of image wrapper -->
          <p class="p-large"><strong>C Selvaraj <br> (ex-Army)</strong></p>
          <p class="job-title">Manager - Nagarcoil Branch</p>
       
        </div>
        <!-- end of team-member -->
        <!-- end of team member -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-4 -->
<!-- end of about -->
